In [443]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\cjash\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\cjash\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\cjash\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\cjash\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\cjash\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\cjash\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\cjash\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\cjash\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\cjash\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\cjash\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\cjash\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\cjash\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [444]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings. filterwarnings("ignore")

In [445]:
driver=webdriver.Chrome(r"C:\Users\cjash\Desktop\chromedriver_win32\chromedriver.exe")

In [446]:
driver=webdriver.Chrome('chromedriver.exe')

In [162]:
# 1.python program to scrape data for “Data Analyst” Job position in “Bangalore” location.scrape the job-title, job-location, company_name, experience_required.scrape first 10 jobs data.

In [163]:
url="http://www.naukri.com/"
driver.get(url)

In [ ]:
search_job=driver.find_element_by_class_name("suggestor-input" )
search_job

In [65]:
search_job.send_keys("Data Analyst")

In [66]:
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [67]:
search_loc.send_keys("Bangalore")

In [68]:
search_btn=driver.find_element_by_class_name("qsbSubmit" )
search_btn

In [69]:
search_btn.click()

In [70]:
#Extracting job-title, job-location, company_name, experience_required.
title_tags=driver.find_elements_by_xpath('//a[@class= "title fw500 ellipsis"]')
len(title_tags)

20

In [71]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[1:10]

['Data analyst',
 'Senior Data Analyst - Collibra',
 'Data Analyst- 6-9 Years- Pan India-Permanent position',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Data Analyst']

In [82]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [97]:
location_tags=[]
for i in loc_tags:
    location_tags.append(i.text)
location_tags[0:10]

[]

In [98]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [99]:
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles[0:10]

['Flipkart',
 'GSK India',
 'Shell',
 'Virtusa',
 'Flipkart',
 'Flipkart',
 'Dell',
 'TIMS SOLUTIONS PRIVATE LIMITED',
 'Insure Pro 2.0',
 'BERKMEER INDIA PRIVATE LIMITED']

In [95]:
Exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Exp_tags)

20

In [100]:
exp_titles=[]
for i in Exp_tags:
    exp_titles.append(i.text)
exp_titles[0:10]

['1-6 Yrs',
 '5-9 Yrs',
 '8-12 Yrs',
 '6-9 Yrs',
 '2-4 Yrs',
 '2-3 Yrs',
 '3-5 Yrs',
 '0-4 Yrs',
 '0-2 Yrs',
 '0-2 Yrs']

In [102]:
jobs=pd.DataFrame()
jobs['Job_title']=job_titles
jobs['Company']=company_titles
jobs['Experience']=exp_titles
jobs

,Job_title,Company,Experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs
1,Data analyst,GSK India,5-9 Yrs
2,Senior Data Analyst - Collibra,Shell,8-12 Yrs
3,Data Analyst- 6-9 Years- Pan India-Permanent p...,Virtusa,6-9 Yrs
4,Senior Data Analyst II,Flipkart,2-4 Yrs
5,Senior Data Analyst,Flipkart,2-3 Yrs
6,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs
7,Pipeline/Piping Data Analyst Trainee,TIMS SOLUTIONS PRIVATE LIMITED,0-4 Yrs
8,Data Analyst,Insure Pro 2.0,0-2 Yrs
9,Data Analyst,BERKMEER INDIA PRIVATE LIMITED,0-2 Yrs
10,Data Analyst,Lifesight Technologies Pvt. Ltd.,0-2 Yrs
11,Data Analyst,GSK India,3-8 Yrs
12,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs
13,Senior Data Analyst,Liventus,5-8 Yrs
14,Hiring For Data Analyst (SQL & Scala) || Coforge,Coforge,4-8 Yrs
15,Hiring Data Analyst(Immediate joiner preferred...,GlobalLogic,6-9 Yrs
16,Data Analyst,Flipkart,1-2 Yrs
17,Data Analyst,Flipkart,1-2 Yrs
18,Assistant Manager :: HR Data Analyst,Wipro,5-7 Yrs
19,Data Analyst,Shell,2-7 Yrs

In [103]:
# Question 2 - Job titles for Data Scientics

In [136]:
url="http://www.naukri.com/"
driver.get(url)

In [137]:
search_job=driver.find_element_by_class_name("suggestor-input" )
search_job

In [138]:
search_job.send_keys("Data Scientist")

In [139]:
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [140]:
search_loc.send_keys("Bangalore")

In [141]:
search_btn=driver.find_element_by_class_name("qsbSubmit")
search_btn.click()

In [142]:
#Extracting job-title, job-location, company_name, experience_required.
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [143]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Associate Data Scientist',
 'Data Scientist / Analyst',
 'Senior Data Scientist - Research',
 'Senior Data Scientist, Speech Synthesis',
 'Senior Data Scientist (Marketplace)',
 'Senior Data Scientist',
 'Senior Data Scientist - Customer Analytics',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Senior Data Scientist I']

In [144]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [145]:
location_tags=[]
for i in loc_tags:
    location_tags.append(i.text)
location_tags[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [146]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [147]:
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles[0:10]

['Dell',
 'Kaplan',
 'Talentify',
 'Gojek',
 'NVIDIA',
 'Walmart',
 'Walmart',
 'Atlassian',
 'Wipro',
 'Delhivery']

In [148]:
Exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Exp_tags)

20

In [149]:
exp_titles=[]
for i in Exp_tags:
    exp_titles.append(i.text)
exp_titles[0:10]

['3-5 Yrs',
 '0-3 Yrs',
 '0-1 Yrs',
 '5-11 Yrs',
 '4-7 Yrs',
 '4-8 Yrs',
 '5-9 Yrs',
 '4-8 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [151]:
jobs=pd.DataFrame()
jobs['Job_title']=job_titles
jobs['Location']=location_tags
jobs['Company']=company_titles
jobs['Experience']=exp_titles
jobs[0:10]

,Job_title,Location,Company,Experience
0,Global Tax Automation & Operations - Data Scie...,Bangalore/Bengaluru,Dell,3-5 Yrs
1,Associate Data Scientist,Bangalore/Bengaluru,Kaplan,0-3 Yrs
2,Data Scientist / Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Talentify,0-1 Yrs
3,Senior Data Scientist - Research,Bangalore/Bengaluru,Gojek,5-11 Yrs
4,"Senior Data Scientist, Speech Synthesis","Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",NVIDIA,4-7 Yrs
5,Senior Data Scientist (Marketplace),Bangalore/Bengaluru,Walmart,4-8 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,Walmart,5-9 Yrs
7,Senior Data Scientist - Customer Analytics,Bangalore/Bengaluru,Atlassian,4-8 Yrs
8,Data Scientist - Lead / Architect - Looking Fo...,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Wipro,5-10 Yrs
9,Senior Data Scientist I,Bangalore/Bengaluru,Delhivery,3-7 Yrs
10,Senior Risk Data Scientist,Bangalore/Bengaluru,GSK India,5-10 Yrs
11,Senior Data Scientist - Analytics Organization...,"Mumbai, Pune, Bangalore/Bengaluru",PlaceMinds Consulting Pvt. Ltd,6-11 Yrs
12,Data Scientist / ML Engineer,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",AVE-Promagne,3-8 Yrs
13,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Wipro,5-10 Yrs
14,Sr Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Fragma data systems pvt ltd,5-10 Yrs
15,Data Scientist I,Bangalore/Bengaluru,DAZN,1-3 Yrs
16,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,5-10 Yrs
17,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,5-10 Yrs
18,Principal Data Scientist,Bangalore/Bengaluru,Signify,6-12 Yrs
19,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,12-15 Yrs

In [152]:
#Question 3 location and salary filter for “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [164]:
url="http://www.naukri.com/"
driver.get(url)

In [165]:
search_job=driver.find_element_by_class_name("suggestor-input" )
search_job

In [166]:
search_job.send_keys("Data Scientist")

In [167]:
search_loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_loc

In [168]:
search_loc.send_keys("Delhi/NCR")

In [170]:
search_btn=driver.find_element_by_class_name("qsbSubmit")
search_btn.click()

In [173]:
salary_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[1]/label/i")
salary_check.click()

In [174]:
#Extracting job-title, job-location, company_name, experience_required.
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

19

In [177]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Data Scientist-Python Machine Learning',
 'Data Scientist',
 'Urgently looking For Data Scientist For Bangalore and Gurgaon location',
 'Data Scientist',
 'Urgent Hirirng For Data Scientist For Noida Location',
 'Data Scientist',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Scientist',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist']

In [178]:
loc_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

19

In [179]:
location_tags=[]
for i in loc_tags:
    location_tags.append(i.text)
location_tags[0:10]

['Noida, NCR',
 'Gurgaon/Gurugram',
 'Noida, Rewari, Beri, Jhajjar, Gurgaon/Gurugram, Bhiwadi, Matenhail, Bangalore/Bengaluru, Greater Noida\n(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'New Delhi, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram\n(WFH during Covid)']

In [180]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

19

In [181]:
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles[0:10]

['Jubna',
 'CNH Industrial',
 'DELTA SYS-TECH(INDIA) PVT LTD',
 'Servsys Technology Services India Pvt. Lt',
 'Vrinda Global Private Limited',
 'Cloudstrats Technologies Private Limited',
 'Sejal Consulting Hub',
 'Genpact',
 'GABA Consultancy services',
 'Zekardo Automotive Solutions']

In [182]:
Exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(Exp_tags)

19

In [183]:
exp_titles=[]
for i in Exp_tags:
    exp_titles.append(i.text)
exp_titles[0:10]

['3-5 Yrs',
 '1-6 Yrs',
 '7-10 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '0-3 Yrs',
 '5-10 Yrs',
 '0-0 Yrs',
 '5-8 Yrs']

In [185]:
jobs=pd.DataFrame()
jobs['Job_title']=job_titles
jobs['Location']=location_tags
jobs['Company']=company_titles
jobs['Experience']=exp_titles
jobs[0:10]

,Job_title,Location,Company,Experience
0,Data Scientist-Python Machine Learning,"Noida, NCR",Jubna,3-5 Yrs
1,Data Scientist,Gurgaon/Gurugram,CNH Industrial,1-6 Yrs
2,Urgently looking For Data Scientist For Bangal...,"Noida, Rewari, Beri, Jhajjar, Gurgaon/Gurugram...",DELTA SYS-TECH(INDIA) PVT LTD,7-10 Yrs
3,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Servsys Technology Services India Pvt. Lt,3-8 Yrs
4,Urgent Hirirng For Data Scientist For Noida Lo...,Noida,Vrinda Global Private Limited,3-6 Yrs
5,Data Scientist,"New Delhi, Delhi / NCR, Mumbai (All Areas)",Cloudstrats Technologies Private Limited,3-5 Yrs
6,Junior Data Analyst/ Scientist- Fresher Position,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Sejal Consulting Hub,0-3 Yrs
7,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Genpact,5-10 Yrs
8,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",GABA Consultancy services,0-0 Yrs
9,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),Zekardo Automotive Solutions,5-8 Yrs

In [186]:
#Question 4. Scrape data of first 100 sunglasses listings on flipkart.com.
#scrape four attributes: 1. Brand 2. Product Description 3. Price 4.Discount

In [198]:
url="https://www.flipkart.com/"
driver.get(url)

In [199]:
search_glass=driver.find_element_by_class_name("_3704LK")
search_glass.send_keys("Sun Glasses")

In [200]:
search_btn=driver.find_element_by_class_name("_34RNph")
search_btn.click()

In [204]:
title_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(title_tags)

40

In [205]:
glass_titles=[]
for i in title_tags:
    glass_titles.append(i.text)
glass_titles

['Singco India',
 'Silver Kartz',
 'Elligator',
 'Fastrack',
 'SUNBEE',
 'New Specs',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'SRPM',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'PHENOMENAL',
 'PHENOMENAL',
 'New Specs',
 'Fair-x',
 'Fastrack',
 'Elligator',
 'Lee Topper',
 'ROYAL SON',
 'kingsunglasses',
 'GANSTA',
 'kingsunglasses',
 'VINCENT CHASE',
 'Johaena',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'PHENOMENAL',
 'kingsunglasses',
 'ROYAL SON']

In [207]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(desc_tags)

40

In [208]:
description_tags=[]
for i in desc_tags:
    description_tags.append(i.text)
description_tags

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (88)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized, UV Protection Round Sunglasses (52)']

In [209]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [211]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles

['₹664',
 '₹367',
 '₹248',
 '₹639',
 '₹243',
 '₹234',
 '₹165',
 '₹426',
 '₹649',
 '₹271',
 '₹188',
 '₹255',
 '₹474',
 '₹229',
 '₹186',
 '₹569',
 '₹383',
 '₹309',
 '₹181',
 '₹449',
 '₹299',
 '₹269',
 '₹259',
 '₹449',
 '₹689',
 '₹189',
 '₹199',
 '₹759',
 '₹174',
 '₹269',
 '₹276',
 '₹1,533',
 '₹146',
 '₹265',
 '₹225',
 '₹449',
 '₹180',
 '₹299',
 '₹180',
 '₹759']

In [218]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_tags)

40

In [219]:
discount_titles=[]
for i in disc_tags:
    discount_titles.append(i.text)
discount_titles

['88% off',
 '77% off',
 '90% off',
 '20% off',
 '81% off',
 '88% off',
 '90% off',
 '87% off',
 '18% off',
 '84% off',
 '85% off',
 '75% off',
 '76% off',
 '85% off',
 '81% off',
 '86% off',
 '80% off',
 '84% off',
 '81% off',
 '70% off',
 '85% off',
 '73% off',
 '81% off',
 '78% off',
 '23% off',
 '87% off',
 '80% off',
 '84% off',
 '82% off',
 '86% off',
 '82% off',
 '71% off',
 '87% off',
 '79% off',
 '85% off',
 '70% off',
 '83% off',
 '85% off',
 '84% off',
 '62% off']

In [228]:
search_next_btn=driver.find_element_by_class_name("_1LKTO3")
search_next_btn.click()

In [229]:
title_tags=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(title_tags)

40

In [230]:
glass_titles=[]
for i in title_tags:
    glass_titles.append(i.text)
glass_titles

['LOUIS KOUROS',
 'LOUIS KOUROS',
 'Elligator',
 'Fastrack',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fair-x',
 'SUNBEE',
 'New Specs',
 'SRPM',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PIRASO',
 'kingsunglasses',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'PHENOMENAL',
 'PHENOMENAL',
 'GANSTA',
 'ROYAL SON',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'VINCENT CHASE',
 'Lee Topper',
 'kingsunglasses',
 'New Specs',
 'ROYAL SON',
 'kingsunglasses',
 'Johaena',
 'Elligator',
 'ROYAL SON',
 'kingsunglasses',
 'PHENOMENAL',
 'PIRASO',
 'I Flash']

In [231]:
desc_tags=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(desc_tags)

39

In [232]:
description_tags=[]
for i in desc_tags:
    description_tags.append(i.text)
description_tags

['UV Protection Aviator Sunglasses (60)',
 'UV Protection Aviator Sunglasses (60)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, UV Protection Sports Sunglass...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Retro Square Sunglasses (59)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (32)']

In [233]:
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [234]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles

['₹1,124',
 '₹1,124',
 '₹248',
 '₹639',
 '₹243',
 '₹165',
 '₹649',
 '₹449',
 '₹271',
 '₹234',
 '₹188',
 '₹449',
 '₹474',
 '₹229',
 '₹186',
 '₹359',
 '₹383',
 '₹309',
 '₹181',
 '₹759',
 '₹299',
 '₹269',
 '₹269',
 '₹664',
 '₹459',
 '₹689',
 '₹189',
 '₹1,415',
 '₹199',
 '₹174',
 '₹259',
 '₹359',
 '₹276',
 '₹146',
 '₹265',
 '₹664',
 '₹180',
 '₹299',
 '₹225',
 '₹199']

In [235]:
disc_tags=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_tags)

40

In [236]:
discount_titles=[]
for i in disc_tags:
    discount_titles.append(i.text)
discount_titles

['85% off',
 '85% off',
 '90% off',
 '20% off',
 '81% off',
 '90% off',
 '18% off',
 '70% off',
 '84% off',
 '88% off',
 '85% off',
 '70% off',
 '76% off',
 '85% off',
 '81% off',
 '76% off',
 '80% off',
 '84% off',
 '81% off',
 '62% off',
 '85% off',
 '73% off',
 '86% off',
 '55% off',
 '48% off',
 '23% off',
 '87% off',
 '29% off',
 '80% off',
 '82% off',
 '81% off',
 '76% off',
 '82% off',
 '87% off',
 '79% off',
 '66% off',
 '83% off',
 '85% off',
 '85% off',
 '83% off']

In [259]:
#Question 5.Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [421]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYL0BETT&marketplace=FLIPKART&q=iphone+11+black&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=0349cc05-1676-44b2-8508-a344b5210bc8.MOBFWQ6BXGJCEYNY.SEARCH&ppt=pp&ppn=pp&ssid=1dwaj68v4g0000001644869753081&qH=77772a3e6366cdf8"
driver.get(url)

In [422]:
stars_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(stars_tags)

10

In [423]:
star_titles=[]
for i in stars_tags:
    star_titles.append(i.text)
star_titles

['5', '5', '5', '', '', '', '', '', '', '']

In [424]:
revsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(stars_tags)

10

In [425]:
revsum_titles=[]
for i in revsum_tags:
    revsum_titles.append(i.text)
revsum_titles

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [426]:
rev_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev_tags)

10

In [427]:
rev_titles=[]
for i in rev_tags:
    rev_titles.append(i.text)
rev_titles

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [453]:
search_next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
search_next_btn.click()

In [454]:
stars_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(stars_tags)

10

In [455]:
star_titles=[]
for i in stars_tags:
    star_titles.append(i.text)
star_titles

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [456]:
revsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(stars_tags)

10

In [457]:
revsum_titles=[]
for i in revsum_tags:
    revsum_titles.append(i.text)
revsum_titles

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Classy product',
 'Worth every penny',
 'Worth every penny',
 'Nice product']

In [458]:
rev_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev_tags)

10

In [459]:
rev_titles=[]
for i in rev_tags:
    rev_titles.append(i.text)
rev_titles

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.']

In [460]:
search_next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
search_next_btn.click()

In [461]:
stars_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(stars_tags)

9

In [462]:
star_titles=[]
for i in stars_tags:
    star_titles.append(i.text)
star_titles

['5', '5', '5', '5', '5', '5', '5', '5', '5']

In [463]:
revsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(stars_tags)

9

In [464]:
revsum_titles=[]
for i in revsum_tags:
    revsum_titles.append(i.text)
revsum_titles

['Highly recommended',
 'Excellent',
 'Fabulous!',
 'Excellent',
 'Waste of money!',
 'Terrific',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Excellent']

In [465]:
rev_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev_tags)

10

In [466]:
rev_titles=[]
for i in rev_tags:
    rev_titles.append(i.text)
rev_titles

['Iphone11 (4/64)GB Green color',
 '🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up the phone it makes me happy... The phone is beast💪💪 and the camera is fabulous 🥰🥰🥰.. I think one of my great purchase from Flipkart.. Thank you Filpkart..',
 'Gift this to your loved ones fabulous product and amazing super fast delivery by flipkart',
 'Whoever has my kidney, May God Bless You!!!',
 'Mobile is not getting charge.Mobile cannot be stated',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback.\n1- Display 9 out of 10\n2- Camera 9.5 out of 10\n3- Battery 7 out of 10\n4- Performance 9.5 out of 10\n5- Features & Functions 10 out of 10\n6- Outer looks and colour 10 out of 10\nRest i think i will understand after using this for few months.\nI will highly recommend you guys if you have budget then you...\nREAD MORE"]

In [467]:
search_next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
search_next_btn.click()

In [468]:
stars_tags=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(stars_tags)

9

In [469]:
star_titles=[]
for i in stars_tags:
    star_titles.append(i.text)
star_titles

['5', '5', '5', '5', '4', '4', '5', '5', '5']

In [470]:
revsum_tags=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(stars_tags)

9

In [471]:
revsum_titles=[]
for i in revsum_tags:
    revsum_titles.append(i.text)
revsum_titles

['Excellent',
 'Terrific purchase',
 'Best in the market!',
 'Fabulous!',
 'Value-for-money',
 'Absolute rubbish!',
 'Really Nice',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Perfect product!']

In [472]:
rev_tags=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(rev_tags)

10

In [473]:
rev_titles=[]
for i in rev_tags:
    rev_titles.append(i.text)
rev_titles

['Value for money product. This iphone 11 is really amazing. Again nice release by apple. Great camera, battery backup is excellent. I just love this phone',
 'Well , as we all know if its not an Iphone , its not an iphone . The iphones are always beast . The camera game has been level up . The A13 Bionic is just fabulous . The update this year are certainly the camera which is damn good with d addition of wide angle lens as well as ultra wide . If anyones purchasing an iphone for the first time , do opt for the black color . Its just feels more than premium . Battery life is damn good with lasting fully a day . Overall a nice package . Well managed...\nREAD MORE',
 'The only thing i didnt like about the phone is its display as its only an non full hd display means its not 1080p one and not an amoled one of course but still better than all the lcds out there in the market but at this price point android alternatives provide 144hz samoled like the rog phone 5, Aside from that the performance is top notch as you would expect from an Iphone and will last you for many years unlike androids who stop getting updates in less than 2 years',
 "Just an awesome phone...upgraded from 6s to 11 and trust me guys it's super cool with amazing features..loved it ♥️ and a big thank you to Flipkart for delivering it in just 2 days ?",
 'As usual a great product from Apple. but the look wise there were some scope to make it more attractive. from the back it looks nice. picture quality is awesome . face id is blazing fast. The lightning fast bionic processor makes the phone butter smooth.Battery back up is unbeatable and best of the released iPhone.full display is still missing. however, a iPhone is a iPhone. The iPhone lovers know the value of an iPhone 🙂',
 'Worst product delivered by Flipkart\nAfter 10days of delivery mobile will not work properly\nVolume and silent buttons are not working.\nNo worth to buy in Flipkart.\nPlease don’t buy apple products in Flipkart',
 "Great phone and camera and timely delivery by Flipkart!\nYou wouldn't love the display if you're coming from a one plus or Samsung, go for iPhone 12. If display isn't your priority, this is a great choice.",
 'Very good phone. All the apps are running smoothly. Sleek and sturdy design. No more words for apple as it has its own class.',
 'After using more than a year of using iPhone11 here is my complete review:\n1. Camera is almost perfect 8/10 except for some advantages you’ll see in Samsung S20. (Zoom, Better Image stabilisation etc)\n2. Battery performance is 10/10\n3. OS performance is 10/10\n4. Build Quality 9/10 as you need to buy good quality back cover with tampered\n5. Face Lock feature is awesome 10/10\n6. You need to buy new charger but don’t buy more than 18 watt charger optimum is 15 / 18 watt charger. For fast chargin...\nREAD MORE',
 "Awesome Product. Initially I was looking for green color but wasn't available and then I went for white one and believe me it's really awesome color."]

In [ ]:
# And as shown above with the help of x path for next button, we can continue to scrape data untill 100 or even more.

In [ ]:
#Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
# To scrape 4 attributes of each sneaker:
#1. Brand
#2. Product Description
#3. Price

In [477]:
url="https://www.flipkart.com/"
driver.get(url)

In [480]:
search_sneaker=driver.find_element_by_class_name("_3704LK")
search_sneaker.send_keys("Sneakers")

In [481]:
search_btn=driver.find_element_by_class_name("_34RNph")
search_btn.click()

In [482]:
brand_tags=driver.find_elements_by_xpath('//div [@class="_2WkVRV"]')
len(brand_tags)

40

In [483]:
brand_titles=[]
for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['Chevit',
 'PUMA',
 'BRUTON',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'CLYMB',
 'Labbin',
 'Shoes Bank',
 'SCATCHITE',
 'Magnolia',
 'BRUTON',
 'luxury fashion',
 'Noztile',
 'BIRDE',
 'Chevit',
 'Numenzo',
 'BRUTON',
 'ASTEROID',
 'Rzisbo',
 'PUMA',
 'aadi',
 'CLYMB',
 'Kraasa',
 'World Wear Footwear',
 'Kraasa',
 'World Wear Footwear',
 'RapidBox',
 'URBANBOX',
 'Chevit',
 'PUMA',
 'PUMA',
 'CLYMB',
 'Trendmode',
 'ASTEROID',
 'Xtoon',
 'aadi',
 'BRUTON',
 'aadi',
 'corsac']

In [484]:
prodec_tags=driver.find_elements_by_xpath('//div [@class="_2WkVRV"]')
len(prodec_tags)

40

In [485]:
prodec_titles=[]
for i in prodec_tags:
    prodec_titles.append(i.text)
prodec_titles

['Chevit',
 'PUMA',
 'BRUTON',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'CLYMB',
 'Labbin',
 'Shoes Bank',
 'SCATCHITE',
 'Magnolia',
 'BRUTON',
 'luxury fashion',
 'Noztile',
 'BIRDE',
 'Chevit',
 'Numenzo',
 'BRUTON',
 'ASTEROID',
 'Rzisbo',
 'PUMA',
 'aadi',
 'CLYMB',
 'Kraasa',
 'World Wear Footwear',
 'Kraasa',
 'World Wear Footwear',
 'RapidBox',
 'URBANBOX',
 'Chevit',
 'PUMA',
 'PUMA',
 'CLYMB',
 'Trendmode',
 'ASTEROID',
 'Xtoon',
 'aadi',
 'BRUTON',
 'aadi',
 'corsac']

In [486]:
price_tags=driver.find_elements_by_xpath('//div [@class="_30jeq3"]')
len(price_tags)

40

In [487]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles

['₹1,124',
 '₹1,124',
 '₹248',
 '₹639',
 '₹243',
 '₹165',
 '₹649',
 '₹449',
 '₹271',
 '₹234',
 '₹188',
 '₹449',
 '₹474',
 '₹229',
 '₹186',
 '₹359',
 '₹383',
 '₹309',
 '₹181',
 '₹759',
 '₹299',
 '₹269',
 '₹269',
 '₹664',
 '₹459',
 '₹689',
 '₹189',
 '₹1,415',
 '₹199',
 '₹174',
 '₹259',
 '₹359',
 '₹276',
 '₹146',
 '₹265',
 '₹664',
 '₹180',
 '₹299',
 '₹225',
 '₹199',
 '₹649',
 '₹1,610',
 '₹499',
 '₹259',
 '₹189',
 '₹199',
 '₹259',
 '₹499',
 '₹398',
 '₹398',
 '₹472',
 '₹259',
 '₹429',
 '₹425',
 '₹379',
 '₹489',
 '₹474',
 '₹499',
 '₹499',
 '₹549',
 '₹1,924',
 '₹399',
 '₹249',
 '₹499',
 '₹259',
 '₹499',
 '₹259',
 '₹680',
 '₹220',
 '₹299',
 '₹1,799',
 '₹1,214',
 '₹649',
 '₹199',
 '₹499',
 '₹499',
 '₹499',
 '₹449',
 '₹399',
 '₹499']

In [488]:
discount_tags=driver.find_elements_by_xpath('//div [@class="_3Ay6Sb"]')
len(discount_tags)

40

In [489]:
discount_titles=[]
for i in discount_tags:
    discount_titles.append(i.text)
discount_titles

['59% off',
 '53% off',
 '85% off',
 '80% off',
 '68% off',
 '60% off',
 '74% off',
 '50% off',
 '60% off',
 '60% off',
 '52% off',
 '80% off',
 '66% off',
 '78% off',
 '24% off',
 '72% off',
 '76% off',
 '80% off',
 '75% off',
 '45% off',
 '45% off',
 '60% off',
 '75% off',
 '50% off',
 '48% off',
 '50% off',
 '48% off',
 '31% off',
 '77% off',
 '70% off',
 '48% off',
 '59% off',
 '56% off',
 '71% off',
 '50% off',
 '66% off',
 '75% off',
 '82% off',
 '80% off',
 '66% off']

In [506]:
search_next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_next_btn.click()

In [507]:
brand_tags=driver.find_elements_by_xpath('//div [@class="_2WkVRV"]')
len(brand_tags)

40

In [509]:
brand_titles=[]
for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['PUMA',
 'PUMA',
 'CLYMB',
 'RapidBox',
 'Trendmode',
 'ASTEROID',
 'Xtoon',
 'Roadster',
 'aadi',
 'BRUTON',
 'aadi',
 'KNIGHT WALKERS',
 'corsac',
 'BRUTON',
 'D-SNEAKERZ',
 'PACIFIKOT',
 'bluemaker',
 'Robbie jones',
 'BRUTON',
 'HRX by Hrithik Roshan',
 'Elevarse',
 'DRESTA',
 'Chevit',
 'sixXplus',
 'KNIGHT WALKERS',
 'DUNKASTON',
 'PUMA',
 'FLYING MACHINE',
 'Echor',
 'Chevit',
 'Robbie jones',
 'Destony',
 'Zsyto',
 'Pieds',
 'Arohi',
 'RapidBox',
 'World Wear Footwear',
 'ASIAN',
 'RODDICK SHOES',
 'Echor']

In [510]:
price_tags=driver.find_elements_by_xpath('//div [@class="_30jeq3"]')
len(price_tags)

40

In [511]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles

['₹1,799',
 '₹1,214',
 '₹649',
 '₹630',
 '₹199',
 '₹499',
 '₹499',
 '₹1,599',
 '₹499',
 '₹449',
 '₹399',
 '₹599',
 '₹499',
 '₹259',
 '₹299',
 '₹399',
 '₹499',
 '₹499',
 '₹473',
 '₹2,499',
 '₹349',
 '₹499',
 '₹259',
 '₹599',
 '₹599',
 '₹399',
 '₹2,289',
 '₹1,499',
 '₹499',
 '₹498',
 '₹499',
 '₹399',
 '₹328',
 '₹399',
 '₹435',
 '₹640',
 '₹259',
 '₹549',
 '₹433',
 '₹499']

In [512]:
discount_tags=driver.find_elements_by_xpath('//div [@class="_3Ay6Sb"]')
len(discount_tags)

40

In [513]:
discount_titles=[]
for i in discount_tags:
    discount_titles.append(i.text)
discount_titles

['48% off',
 '59% off',
 '56% off',
 '36% off',
 '71% off',
 '50% off',
 '66% off',
 '51% off',
 '75% off',
 '82% off',
 '80% off',
 '60% off',
 '66% off',
 '80% off',
 '54% off',
 '60% off',
 '50% off',
 '50% off',
 '81% off',
 '41% off',
 '65% off',
 '75% off',
 '67% off',
 '40% off',
 '60% off',
 '73% off',
 '54% off',
 '40% off',
 '50% off',
 '50% off',
 '50% off',
 '60% off',
 '74% off',
 '60% off',
 '56% off',
 '35% off',
 '48% off',
 '31% off',
 '56% off',
 '66% off']

In [515]:
search_next_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
search_next_btn.click()

In [516]:
brand_tags=driver.find_elements_by_xpath('//div [@class="_2WkVRV"]')
len(brand_tags)

40

In [520]:
brand_titles=[]
for i in brand_tags:
    brand_titles.append(i.text)
brand_titles[0:20]

['aadi',
 'LE GREEM',
 'PUMA',
 'aadi',
 'Magnolia',
 'aadi',
 'BIRDE',
 'Roadster',
 'Numenzo',
 'Zorth',
 'HOTSTYLE',
 'Roadster',
 'Echor',
 'ESSENCE',
 'LE GREEM',
 'Roadster',
 'BRUTON',
 'Robbie jones',
 'RODDICK SHOES',
 'Red Rose']

In [521]:
discount_tags=driver.find_elements_by_xpath('//div [@class="_3Ay6Sb"]')
len(discount_tags)

39

['75% off',
 '59% off',
 '59% off',
 '50% off',
 '52% off',
 '75% off',
 '40% off',
 '21% off',
 '66% off',
 '56% off',
 '75% off',
 '43% off',
 '50% off',
 '40% off',
 '59% off',
 '42% off',
 '77% off',
 '54% off',
 '57% off',
 '5% off']

In [524]:
price_tags=driver.find_elements_by_xpath('//div [@class="_30jeq3"]')
len(price_tags)

40

In [525]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles[1:20]

['₹404',
 '₹3,249',
 '₹499',
 '₹472',
 '₹498',
 '₹299',
 '₹2,199',
 '₹429',
 '₹439',
 '₹249',
 '₹1,699',
 '₹499',
 '₹599',
 '₹404',
 '₹1,899',
 '₹296',
 '₹451',
 '₹428',
 '₹474']

In [526]:
discount_tags=driver.find_elements_by_xpath('//div [@class="_3Ay6Sb"]')
len(discount_tags)

39

In [527]:
discount_titles=[]
for i in discount_tags:
    discount_titles.append(i.text)
discount_titles[0:20]

['75% off',
 '59% off',
 '59% off',
 '50% off',
 '52% off',
 '75% off',
 '40% off',
 '21% off',
 '66% off',
 '56% off',
 '75% off',
 '43% off',
 '50% off',
 '40% off',
 '59% off',
 '42% off',
 '77% off',
 '54% off',
 '57% off',
 '5% off']

In [5]:
 # scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [14]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [22]:
search_price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
search_price.click()

In [23]:
search_color=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
search_color.click()

In [24]:
title_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(title_tags)

50

In [26]:
shoe_titles=[]
for i in title_tags:
    shoe_titles.append(i.text)
shoe_titles

['Red Tape',
 'mr.wonker',
 'Nike',
 'Tommy Hilfiger',
 'HRX by Hrithik Roshan',
 'Nike',
 'Puma',
 'Campus',
 'Red Tape',
 'Street Style Store',
 'ALDO',
 'MENGLER',
 'Roadster',
 'Mactree',
 'Sir Corbett',
 'Nike',
 'AfroJack',
 'AfroJack',
 'Eego Italy',
 'Puma',
 'HIGHLANDER',
 'Mactree',
 'Nike',
 'Puma',
 'Fentacia',
 'ALDO',
 'TRASE',
 'Nike',
 'Fentacia',
 'HIGHLANDER',
 'Nike',
 'Puma',
 'Red Tape',
 'HRX by Hrithik Roshan',
 'Provogue',
 'Catwalk',
 'Nike',
 'Puma',
 'DressBerry',
 'Puma',
 'ASIAN',
 'Nike',
 'Alishtezia',
 'Nike',
 'Jack & Jones',
 'DEAS',
 'Roadster',
 'ZAPATOZ',
 'Puma',
 'Melange by Lifestyle']

In [32]:
desc_tags=driver.find_elements_by_class_name('product-product')
len(desc_tags)

50

In [33]:
shoe_desc=[]
for i in desc_tags:
    shoe_desc.append(i.text)
shoe_desc

['Men Walking Shoes',
 'Men Running Shoes',
 'Men AIR ZOOM PEGASUS 38',
 'Men Solid Loafers',
 'Women Running Shoes',
 'Kids Revolution 4 Running',
 'Women Enzo 2 Running Shoes',
 'Men Running Shoes',
 'Men Walking Shoes',
 'Women Suede High-Top Flat Boots',
 'Men Leather Loafers',
 'Men Walking Shoes',
 'Men Sneakers',
 'Men Suede Loafers',
 'Semi-Formal Shoes',
 'Women Road Running Shoes',
 'Men Colourblocked Sneakers',
 'Men Printed Sneakers',
 'Men Trekking Shoes',
 'Women Running Shoes',
 'Men Solid Sneakers',
 'Men Solid Leather Loafers',
 'Women CITYREP TR Training Shoe',
 'Unisex R78 SL Sneakers',
 'Men Woven Flat Boots',
 'Men Printed Sneakers',
 'Women Heeled Boots',
 'LEGEND ESSENTIAL Training Shoe',
 'Men Lightweight Flat Boots',
 'Men Sneakers',
 'Kids REVOLUTION 4 Shoes',
 'Unisex Caracal Sneakers',
 'Men Solid Leather Formal Derbys',
 'Men Alpha Running Shoe',
 'Men Black Solid Formal Debys',
 'Women Sandals',
 'Men Court Lite 2 Tennis Shoes',
 'Men Running Shoes',
 'Women Flats',
 'Men Sneakers',
 'Men Running Shoes',
 'Men Vapor Lite HC Tennis Shoes',
 'Women Walking Shoes',
 'Women MD Runner 2 SE Running',
 'Men Colourblocked PU Sneakers',
 'Women Mules Flats',
 'Men Solid Chelsea Boots',
 'Women Heeled Boots',
 'Men Running Shoes',
 'Women Ballerinas']

In [39]:
price_tags=driver.find_elements_by_class_name('product-price')
len(price_tags)

50

In [40]:
price=[]
for i in price_tags:
    price.append(i.text)
price

['Rs. 1679Rs. 5599(70% OFF)',
 'Rs. 776Rs. 3699(79% OFF)',
 'Rs. 10920Rs. 11495(5% OFF)',
 'Rs. 8999',
 'Rs. 1639Rs. 4099(60% OFF)',
 'Rs. 999Rs. 3495(Rs. 2496 OFF)',
 'Rs. 3024Rs. 5499(45% OFF)',
 'Rs. 1049',
 'Rs. 1739Rs. 5799(70% OFF)',
 'Rs. 1199Rs. 1999(Rs. 800 OFF)',
 'Rs. 15999',
 'Rs. 799Rs. 3999(80% OFF)',
 'Rs. 1599Rs. 3199(50% OFF)',
 'Rs. 898Rs. 4490(80% OFF)',
 'Rs. 884Rs. 2949(70% OFF)',
 'Rs. 3510Rs. 3695(5% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 999Rs. 2599(Rs. 1600 OFF)',
 'Rs. 1759Rs. 3999(56% OFF)',
 'Rs. 995Rs. 1990(50% OFF)',
 'Rs. 898Rs. 4490(80% OFF)',
 'Rs. 4745Rs. 4995(5% OFF)',
 'Rs. 3999Rs. 4999(20% OFF)',
 'Rs. 899Rs. 4499(80% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 899Rs. 1999(55% OFF)',
 'Rs. 4045Rs. 4495(10% OFF)',
 'Rs. 1259Rs. 5999(79% OFF)',
 'Rs. 995Rs. 1990(50% OFF)',
 'Rs. 999Rs. 3495(Rs. 2496 OFF)',
 'Rs. 3749Rs. 4999(25% OFF)',
 'Rs. 1699Rs. 6799(75% OFF)',
 'Rs. 1679Rs. 4799(65% OFF)',
 'Rs. 1099Rs. 4495(Rs. 3396 OFF)',
 'Rs. 1382Rs. 2095(34% OFF)',
 'Rs. 4995',
 'Rs. 2199Rs. 3999(45% OFF)',
 'Rs. 699Rs. 1999(65% OFF)',
 'Rs. 2364Rs. 4299(45% OFF)',
 'Rs. 799Rs. 1499(Rs. 700 OFF)',
 'Rs. 6455Rs. 6795(5% OFF)',
 'Rs. 799Rs. 999(20% OFF)',
 'Rs. 5215Rs. 5795(10% OFF)',
 'Rs. 3999',
 'Rs. 599Rs. 999(40% OFF)',
 'Rs. 999Rs. 2599(Rs. 1600 OFF)',
 'Rs. 689Rs. 999(31% OFF)',
 'Rs. 2099Rs. 2999(30% OFF)',
 'Rs. 1199Rs. 1599(25% OFF)']

In [41]:
search_next_btn=driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')
search_next_btn.click()

In [42]:
title_tags=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(title_tags)

50

In [45]:
shoe_titles=[]
for i in title_tags:
    shoe_titles.append(i.text)
shoe_titles

['Puma',
 'Melange by Lifestyle',
 'Sparx',
 'DressBerry',
 'Red Tape',
 'mr.wonker',
 'AfroJack',
 'Mast & Harbour',
 'STALK',
 'Provogue',
 'CLYMB',
 'U.S. Polo Assn.',
 'Puma',
 'HRX by Hrithik Roshan',
 'mr.wonker',
 'Bata',
 'Puma',
 'Fentacia',
 'HRX by Hrithik Roshan',
 'Red Tape',
 'DressBerry',
 'Puma',
 'WROGN',
 'Louis Philippe',
 'Sparx',
 'Puma',
 'Provogue',
 'HRX by Hrithik Roshan',
 'Nike',
 'Campus',
 'HRX by Hrithik Roshan',
 'Monrow',
 'one8 x PUMA',
 'Quechua By Decathlon',
 'Crocs',
 'Puma',
 'Mast & Harbour',
 'Provogue',
 'Louis Philippe Sport',
 'ADIDAS',
 'HRX by Hrithik Roshan',
 'AfroJack',
 'Campus',
 'Red Chief',
 'Sparx',
 'Sparx',
 'AfroJack',
 'H&M',
 'HIGHLANDER',
 'Red Tape']

In [47]:
desc_tags=driver.find_elements_by_class_name('product-product')
len(desc_tags)

50

In [48]:
shoe_desc=[]
for i in desc_tags:
    shoe_desc.append(i.text)
shoe_desc

['Men Running Shoes',
 'Women Ballerinas',
 'Men Running Shoes',
 'Women Colourblocked Sneakers',
 'Men Leather Flat Boots',
 'Men Solid Formal Loafers',
 'Men Slip-On Sneakers Casual Shoes',
 'Men Slip-On Sneakers',
 'Women Open Toe Flats',
 'Men Solid Horsebit Loafers',
 'Men Running Shoes',
 'Men TERRI Slip-On Sneakers',
 'Flex Essential Running Shoes',
 'Men Urban Outdoor Running Shoe',
 'Men Running Shoes',
 'Men Solid Formal Slip-Ons',
 'Men Concave V4 Running Shoes',
 'Men Perforations Loafers',
 'Men Hoop Life Sneakers',
 'Men Solid Leather Formal Derbys',
 'Women Striped Flats',
 'Men Sneakers',
 'Men Woven Design Slip-On Sneakers',
 'Men Solid Leather Formal Derby',
 'Men Sneakers',
 'Men Sneakers',
 'Men Solid Formal Derbys',
 'Men FlexStreet Athleisure Shoe',
 'Men Blazer Court Skateboarding',
 'Men Running Shoes',
 'Marble Knit Running Shoes',
 'Women Sandals',
 'Men Trot IDP Slip-on Run Shoes',
 'Women Snow Hiking Shoes',
 'Women Open Toe Flats',
 'Men Running Shoes',
 'Women Solid Open Toe Flats',
 'Men Perforations Loafers',
 'Men Solid Sneakers & Shoehorn',
 'Men Zan Trail Hiking Shoes',
 'Men Fly Sneaker',
 'Men High-Top Flat Boots',
 'Men Running Shoes',
 'Men Solid Leather Derbys',
 'Men Sneakers',
 'Men Running Shoes',
 'Men Slip-On Sneakers',
 'Women Casual Shoes',
 'Men Solid Sneakers',
 'Men Walking Shoes']

In [49]:
price_tags=driver.find_elements_by_class_name('product-price')
len(price_tags)

50

In [50]:
price=[]
for i in price_tags:
    price.append(i.text)
price

['Rs. 2099Rs. 2999(30% OFF)',
 'Rs. 1199Rs. 1599(25% OFF)',
 'Rs. 1033Rs. 1099(6% OFF)',
 'Rs. 1924Rs. 3499(45% OFF)',
 'Rs. 2189Rs. 7299(70% OFF)',
 'Rs. 699Rs. 3329(79% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 1449Rs. 2899(50% OFF)',
 'Rs. 449Rs. 899(50% OFF)',
 'Rs. 849Rs. 4245(80% OFF)',
 'Rs. 749Rs. 1499(50% OFF)',
 'Rs. 2399Rs. 3999(40% OFF)',
 'Rs. 2399Rs. 2999(20% OFF)',
 'Rs. 2749Rs. 5499(50% OFF)',
 'Rs. 699Rs. 3329(79% OFF)',
 'Rs. 1066',
 'Rs. 2599Rs. 3999(35% OFF)',
 'Rs. 899Rs. 4499(80% OFF)',
 'Rs. 2449Rs. 4899(50% OFF)',
 'Rs. 1699Rs. 6799(75% OFF)',
 'Rs. 664Rs. 1899(65% OFF)',
 'Rs. 1999Rs. 3999(50% OFF)',
 'Rs. 2719Rs. 3199(15% OFF)',
 'Rs. 3399Rs. 3999(15% OFF)',
 'Rs. 1281Rs. 1349(5% OFF)',
 'Rs. 2599Rs. 3999(35% OFF)',
 'Rs. 999Rs. 4495(Rs. 3496 OFF)',
 'Rs. 2939Rs. 4899(40% OFF)',
 'Rs. 7495',
 'Rs. 799',
 'Rs. 1799Rs. 3599(50% OFF)',
 'Rs. 1299Rs. 2599(Rs. 1300 OFF)',
 'Rs. 2749Rs. 4999(45% OFF)',
 'Rs. 2499',
 'Rs. 1856Rs. 2995(38% OFF)',
 'Rs. 3609Rs. 3799(5% OFF)',
 'Rs. 599Rs. 1999(70% OFF)',
 'Rs. 749Rs. 3745(80% OFF)',
 'Rs. 3079Rs. 3999(23% OFF)',
 'Rs. 4499Rs. 4999(10% OFF)',
 'Rs. 1719Rs. 4299(60% OFF)',
 'Rs. 799Rs. 3995(80% OFF)',
 'Rs. 1546Rs. 1699(9% OFF)',
 'Rs. 2149Rs. 4299(50% OFF)',
 'Rs. 1049',
 'Rs. 1111Rs. 1249(11% OFF)',
 'Rs. 699Rs. 3495(80% OFF)',
 'Rs. 1999',
 'Rs. 796Rs. 1990(60% OFF)',
 'Rs. 1469Rs. 4899(70% OFF)']

In [51]:
#Q8. scrape 3 attributes for each laptop:1. Title 2. Ratings 3. Price

In [349]:
url="https://www.amazon.in/"
driver.get(url)

In [360]:
search_lap=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_lap

In [ ]:
search_lap.send_keys("Laptop")

In [369]:
search_btn=driver.find_element_by_xpath('//*[@id="nav-search-bar-form"]/div[3]' )
search_btn

In [370]:
search_btn.click()

In [371]:
title_tags=driver.find_elements_by_xpath('//span [@class="a-size-medium a-color-base a-text-normal"]')
len(title_tags)

23

In [372]:
titles=[]
for i in title_tags:
    titles.append(i.text)
titles[0:10]

['LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)',
 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i5,8 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AJ65A2, Black)',
 'Lenovo Chromebook 14e 14.0" FHD Business Laptop (AMD 3015Ce Processor/4GB DDR4 RAM/64GB Storage eMMC/AMD Radeon Graphics/Chrome OS/Grey) 82M10019HA',
 'Dell 15 (2021) Athlon Silver 3050U, 4GB, 256GB SSD, Win 11 + MS Office\'21, AMD Vega Graphics, , 15.6" (39.62 cms) HD Display, Carbon Black (Inspiron 3515, D560702WIN9BE)',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable Storage 14inch(35.6 cm) Thin & Light Touchscreen Laptop (Chrome OS/B&O/Google Assistant/BL Keyboard/1.46 kg),14a-na0003TU',
 'Zenly Laptop Stand,Adjustable Table Laptop Stand,Aluminum Laptop Stands,Ergonomic Laptop Stands Compatible with MacBook Air Pro,Lenovo More 10-15.6" Laptops (Silver)',
 'HP Pavilion 14 Intel 11th Gen i5 14 inches Laptop (16GB RAM/512GB SSD, FHD IPS Anti-Glare Display/Iris X Graphics/Backlit KB/B&O Audio/Fingerprint Reader/Win 11 Home/Thin & Light/1.41kg, 14-dv1001TU)',
 'Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6" (29.46cm) HD Thin & Light Laptop (4GB/256 GB SSD/Windows 10/MS Office/Platinum Grey/1.2Kg), 81VT0071IN',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 14" (35.56cm) FHD Thin & Light Laptop (4GB/256GB SSD/Windows 11/MS Office 2021/2Year Warranty/Abyss Blue/1.6Kg), 81WD0141IN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS']

In [441]:
rating_tags=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
len(rating_tags)

26

In [442]:
rating_titles=[]
for i in rating_tags:
    rating_titles.append(i.text)
rating_titles[0:10]

['71', '32', '43', '19', '1,006', '30', '449', '1,726', '', '1,653']

In [435]:
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(price_tags)

26

In [436]:
price_titles=[]
for i in price_tags:
    price_titles.append(i.text)
price_titles[0:10]

['85,999',
 '84,999',
 '20,990',
 '34,990',
 '26,990',
 '1,299',
 '78,990',
 '55,000',
 '',
 '67,990']

In [ ]:
# Q9. python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.scrape company name, No. of days ago when job was posted, Rating of the company.

In [213]:
url="https://www.ambitionbox.com/jobs"
driver.get(url)

In [214]:
search_job=driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input ')
search_job

In [215]:
search_job.send_keys("Data Scientist")

In [216]:
search_btn=driver.find_element_by_class_name("ctas-btn-medium" )
search_btn

In [217]:
search_btn.click()

In [218]:
search_loc=driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/i')
search_loc

In [219]:
search_loc.click()

In [226]:
search_btn=driver.find_element_by_xpath('//*[@id="location_Noida"]')
search_btn

In [227]:
search_btn.click()

In [230]:
company_tags=driver.find_elements_by_xpath('//div[@class="company-info"]')
len(company_tags)

11

In [231]:
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles

['Jubilant Foodworks Limited\n · \n3.9\nbased on 534 Reviews',
 'Jubilant Foodworks Limited\n3.9\n(534 Reviews)',
 'HCL Technologies\n3.8\n(15.5k Reviews)',
 'EY GDS\n3.7\n(4k Reviews)',
 'Tavant Technologies India Pvt. Ltd.\n4.0\n(256 Reviews)',
 'Denave India Pvt Ltd.\n4.0\n(370 Reviews)',
 'EXL Service\n3.8\n(3.8k Reviews)',
 'CHT Sapiense\n3.8\n(112 Reviews)',
 'Pitney Bowes India Pvt ltd\n4.2\n(97 Reviews)',
 'Zyoin\n4.1\n(68 Reviews)',
 'Ameriprise Financial\n4.0\n(280 Reviews)']

In [243]:
rating_tags=driver.find_elements_by_xpath('//i[@class="icon icon-star"]')
len(rating_tags)

11

In [250]:
rating_titles=[]
for i in rating_tags:
    rating_titles.append(i.text)
rating_titles

['', '', '', '', '', '', '', '', '', '', '']

In [251]:
days_tags=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(days_tags)

20

In [252]:
days_titles=[]
for i in days_tags:
    days_titles.append(i.text)
days_titles

['12d ago',
 'via naukri.com',
 '26d ago',
 'via naukri.com',
 '27d ago',
 'via iimjobs.com',
 '7d ago',
 'via naukri.com',
 '7d ago',
 'via naukri.com',
 '19d ago',
 'via naukri.com',
 '17hr ago',
 'via iimjobs.com',
 '27d ago',
 'via naukri.com',
 '5d ago',
 'via hirist.com',
 '1mon ago',
 'via naukri.com']

In [253]:
# Q10.python program to scrape the salary data for Data Scientist designation.scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [447]:
url="https://www.ambitionbox.com/salaries"
driver.get(url)

In [448]:
search_job=driver.find_element_by_xpath('//*[@id="fixed-typeahead"]/div/div/div[1]/span/input')
search_job

In [449]:
search_job.send_keys("Data Scientist")

In [450]:
search_btn=driver.find_element_by_class_name("ctas-btn-medium" )
search_btn

In [451]:
search_btn.click()

In [452]:
search_btn=driver.find_element_by_xpath('//*[@id="___gcse_0"]/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a' )
search_btn

In [453]:
search_btn.click()

In [457]:
company_tags=driver.find_elements_by_xpath('//div [@class="name"]')
len(company_tags)

0

In [458]:
company_titles=[]
for i in company_tags:
    company_titles.append(i.text)
company_titles

[]

In [459]:
salary_tags=driver.find_elements_by_xpath('//div [@class="salaries one-line sbold-list-header"]')
len(salary_tags)

0