In [4]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\cjash\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\cjash\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\cjash\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\cjash\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cjash\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\cjash\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cjash\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\cjash\anaconda3\lib\site-packages (from requests) (4.0.0)

In [5]:
from bs4 import BeautifulSoup
import requests

# Question 1

In [58]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [59]:
soup=BeautifulSoup(page.content)

In [60]:
headers=[]
for heads in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    headers.append(heads.name+" "+heads.text.strip())
headers

['h1 Main Page',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Variants\nexpanded\ncollapsed',
 'h3 Views',
 'h3 More\nexpanded\ncollapsed',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

# Question 2

In [61]:
page=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc')
page

In [62]:
soup=BeautifulSoup(page.content)

In [63]:
name=soup.find_all('h3',class_='lister-item-header')
movie_names=[]
for i in range(0,50):
    movie_names.append(name[i].get_text().replace("\n",""))

movie_names

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Godfather: Part II(1974)',
 '5.12 Angry Men(1957)',
 '6.The Lord of the Rings: The Return of the King(2003)',
 '7.Pulp Fiction(1994)',
 "8.Schindler's List(1993)",
 '9.Inception(2010)',
 '10.Fight Club(1999)',
 '11.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '12.Forrest Gump(1994)',
 '13.Il buono, il brutto, il cattivo(1966)',
 '14.Spider-Man: No Way Home(2021)',
 '15.The Lord of the Rings: The Two Towers(2002)',
 '16.The Matrix(1999)',
 '17.Goodfellas(1990)',
 '18.Star Wars: Episode V - The Empire Strikes Back(1980)',
 "19.One Flew Over the Cuckoo's Nest(1975)",
 '20.Gisaengchung(2019)',
 '21.Interstellar(2014)',
 '22.Cidade de Deus(2002)',
 '23.Sen to Chihiro no kamikakushi(2001)',
 '24.Saving Private Ryan(1998)',
 '25.The Green Mile(1999)',
 '26.La vita è bella(1997)',
 '27.Se7en(1995)',
 '28.The Silence of the Lambs(1991)',
 '29.Star Wars(1977)',
 '30.Seppuku(1962)',
 '31.Shichinin no samurai(1954)',
 "32.It's a Wonderful Life(1946)",
 '33.Whiplash(2014)',
 '34.The Intouchables(2011)',
 '35.The Prestige(2006)',
 '36.The Departed(2006)',
 '37.The Pianist(2002)',
 '38.Gladiator(2000)',
 '39.American History X(1998)',
 '40.The Usual Suspects(1995)',
 '41.Léon(1994)',
 '42.The Lion King(1994)',
 '43.Terminator 2: Judgment Day(1991)',
 '44.Nuovo Cinema Paradiso(1988)',
 '45.Hotaru no haka(1988)',
 '46.Back to the Future(1985)',
 '47.Once Upon a Time in the West(1968)',
 '48.Psycho(1960)',
 '49.Rear Window(1954)',
 '50.Casablanca(1942)']

In [69]:
rating=soup.find_all('span',class_='global-sprite rating-star imdb-rating')

movie_rating=[]
for i in range(0,50):
    movie_rating.append(rating[i].get_text())
    
ratings

[<span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>,
 <span class="global-sprite rating-star imdb-rating"></span>]

In [70]:
date=[]

for i in soup.find_all('span',class_='lister-item-year text-muted unbold'):
    date.append(i.text)
date

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(2021)',
 '(2002)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2019)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1991)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)']

In [72]:
import pandas as pd
df=pd.DataFrame({'Names':movie_names,'Ratings':ratings,'dates':date})
df

                                                Names Ratings   dates
0                    1.The Shawshank Redemption(1994)      []  (1994)
1                               2.The Godfather(1972)      []  (1972)
2                             3.The Dark Knight(2008)      []  (2008)
3                      4.The Godfather: Part II(1974)      []  (1974)
4                                5.12 Angry Men(1957)      []  (1957)
5   6.The Lord of the Rings: The Return of the Kin...      []  (2003)
6                                7.Pulp Fiction(1994)      []  (1994)
7                            8.Schindler's List(1993)      []  (1993)
8                                   9.Inception(2010)      []  (2010)
9                                 10.Fight Club(1999)      []  (1999)
10  11.The Lord of the Rings: The Fellowship of th...      []  (2001)
11                              12.Forrest Gump(1994)      []  (1994)
12           13.Il buono, il brutto, il cattivo(1966)      []  (1966)
13                   14.Spider-Man: No Way Home(2021)      []  (2021)
14     15.The Lord of the Rings: The Two Towers(2002)      []  (2002)
15                                16.The Matrix(1999)      []  (1999)
16                                17.Goodfellas(1990)      []  (1990)
17  18.Star Wars: Episode V - The Empire Strikes B...      []  (1980)
18           19.One Flew Over the Cuckoo's Nest(1975)      []  (1975)
19                              20.Gisaengchung(2019)      []  (2019)
20                              21.Interstellar(2014)      []  (2014)
21                            22.Cidade de Deus(2002)      []  (2002)
22             23.Sen to Chihiro no kamikakushi(2001)      []  (2001)
23                       24.Saving Private Ryan(1998)      []  (1998)
24                            25.The Green Mile(1999)      []  (1999)
25                           26.La vita è bella(1997)      []  (1997)
26                                     27.Se7en(1995)      []  (1995)
27                  28.The Silence of the Lambs(1991)      []  (1991)
28                                 29.Star Wars(1977)      []  (1977)
29                                   30.Seppuku(1962)      []  (1962)
30                      31.Shichinin no samurai(1954)      []  (1954)
31                     32.It's a Wonderful Life(1946)      []  (1946)
32                                  33.Whiplash(2014)      []  (2014)
33                          34.The Intouchables(2011)      []  (2011)
34                              35.The Prestige(2006)      []  (2006)
35                              36.The Departed(2006)      []  (2006)
36                               37.The Pianist(2002)      []  (2002)
37                                 38.Gladiator(2000)      []  (2000)
38                        39.American History X(1998)      []  (1998)
39                        40.The Usual Suspects(1995)      []  (1995)
40                                      41.Léon(1994)      []  (1994)
41                             42.The Lion King(1994)      []  (1994)
42                43.Terminator 2: Judgment Day(1991)      []  (1991)
43                     44.Nuovo Cinema Paradiso(1988)      []  (1988)
44                            45.Hotaru no haka(1988)      []  (1988)
45                        46.Back to the Future(1985)      []  (1985)
46              47.Once Upon a Time in the West(1968)      []  (1968)
47                                    48.Psycho(1960)      []  (1960)
48                               49.Rear Window(1954)      []  (1954)
49                                50.Casablanca(1942)      []  (1942)

# Question 3

In [74]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [75]:
soup=BeautifulSoup(page.content)

In [76]:
names=soup.find_all('td',class_='titleColumn')
movie_names=[]
for i in range(0,100):
    movie_names.append(names[i].get_text().replace("\n",""))
movie_names

['      1.      Pariyerum Perumal(2018)',
 '      2.      Nayakan(1987)',
 '      3.      Jai Bhim(2021)',
 '      4.      Anbe Sivam(2003)',
 '      5.      C/o Kancharapalem(2018)',
 '      6.      Kireedam(1989)',
 '      7.      Manichitrathazhu(1993)',
 '      8.      Golmaal(1979)',
 '      9.      Apur Sansar(1959)',
 '      10.      Natsamrat(2016)',
 '      11.      #Home(2021)',
 '      12.      Thevar Magan(1992)',
 '      13.      Kumbalangi Nights(2019)',
 '      14.      Black Friday(2004)',
 '      15.      Visaaranai(2015)',
 '      16.      Jersey(2019)',
 '      17.      Sardar Udham(2021)',
 '      18.      Soorarai Pottru(2020)',
 '      19.      Pather Panchali(1955)',
 '      20.      3 Idiots(2009)',
 '      21.      Asuran(2019)',
 '      22.      Kaithi(2019)',
 '      23.      Sarpatta Parambarai(2021)',
 '      24.      Thalapathi(1991)',
 '      25.      Taare Zameen Par(2007)',
 '      26.      96(2018)',
 '      27.      Devasuram(1993)',
 '      28.      Drishyam 2(2021)',
 '      29.      Dangal(2016)',
 '      30.      Peranbu(2018)',
 '      31.      Vada Chennai(2018)',
 '      32.      Chithram(1988)',
 '      33.      Aparajito(1956)',
 '      34.      Jaane Bhi Do Yaaro(1983)',
 '      35.      Pyaasa(1957)',
 '      36.      Thani Oruvan(2015)',
 '      37.      Guide(1965)',
 '      38.      Spadikam(1995)',
 '      39.      Iruvar(1997)',
 '      40.      Agent Sai Srinivasa Athreya(2019)',
 '      41.      Ratsasan(2018)',
 '      42.      Kannathil Muthamittal(2002)',
 '      43.      Chupke Chupke(1975)',
 '      44.      Mahanati(2018)',
 '      45.      Super Deluxe(2019)',
 '      46.      Aruvi(2016)',
 '      47.      Pudhu Pettai(2006)',
 '      48.      Drishyam(2013)',
 '      49.      Oru Vadakkan Veeragatha(1989)',
 '      50.      Khosla Ka Ghosla!(2006)',
 '      51.      Anniyan(2005)',
 '      52.      Premam(2015)',
 '      53.      Tumbbad(2018)',
 '      54.      Kaakkaa Muttai(2014)',
 '      55.      Vikram Vedha(2017)',
 '      56.      Bangalore Days(2014)',
 '      57.      Mudhalvan(1999)',
 '      58.      Papanasam(2015)',
 '      59.      Satya(1998)',
 '      60.      Mandela(2021)',
 '      61.      Soodhu Kavvum(2013)',
 '      62.      Pithamagan(2003)',
 '      63.      Dhuruvangal Pathinaaru(2016)',
 '      64.      Angoor(1982)',
 '      65.      Shahid(2012)',
 '      66.      Andhadhun(2018)',
 '      67.      Jigarthanda(2014)',
 '      68.      Anand(1971)',
 '      69.      Gangs of Wasseypur(2012)',
 '      70.      Paan Singh Tomar(2012)',
 '      71.      Sairat(2016)',
 '      72.      Maheshinte Prathikaaram(2016)',
 '      73.      Bhaag Milkha Bhaag(2013)',
 '      74.      Hera Pheri(2000)',
 '      75.      Chhichhore(2019)',
 '      76.      Theeran Adhigaaram Ondru(2017)',
 '      77.      Ustad Hotel(2012)',
 '      78.      Sholay(1975)',
 '      79.      Chak De! India(2007)',
 '      80.      Swades: We, the People(2004)',
 '      81.      Talvar(2015)',
 '      82.      Virumandi(2004)',
 '      83.      Baasha(1995)',
 '      84.      Mughal-E-Azam(1960)',
 '      85.      Zindagi Na Milegi Dobara(2011)',
 '      86.      Jo Jeeta Wohi Sikandar(1992)',
 '      87.      Black(2005)',
 '      88.      Article 15(2019)',
 '      89.      Nil Battey Sannata(2015)',
 '      90.      Drishyam(2015)',
 '      91.      Udaan(2010)',
 '      92.      Masaan(2015)',
 '      93.      A Wednesday(2008)',
 '      94.      Charulata(1964)',
 '      95.      Alai Payuthey(2000)',
 '      96.      Munna Bhai M.B.B.S.(2003)',
 '      97.      Sarfarosh(1999)',
 '      98.      Roja(1992)',
 '      99.      Uri: The Surgical Strike(2019)',
 '      100.      Queen(2013)']

In [77]:
ratings=soup.find_all('td',class_='ratingColumn imdbRating')
movie_rating=[]
for i in range(0,100):
    movie_rating.append(ratings[i].get_text().replace("\n",""))
movie_rating

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [78]:
year=soup.find_all('span',class_="secondaryInfo")
movie_year=[]
for i in range(0,100):
    movie_year.append(year[i].get_text())
movie_year

['(2018)',
 '(1987)',
 '(2021)',
 '(2003)',
 '(2018)',
 '(1989)',
 '(1993)',
 '(1979)',
 '(1959)',
 '(2016)',
 '(2021)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(2015)',
 '(2019)',
 '(2021)',
 '(2020)',
 '(1955)',
 '(2009)',
 '(2019)',
 '(2019)',
 '(2021)',
 '(1991)',
 '(2007)',
 '(2018)',
 '(1993)',
 '(2021)',
 '(2016)',
 '(2018)',
 '(2018)',
 '(1988)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2015)',
 '(1965)',
 '(1995)',
 '(1997)',
 '(2019)',
 '(2018)',
 '(2002)',
 '(1975)',
 '(2018)',
 '(2019)',
 '(2016)',
 '(2006)',
 '(2013)',
 '(1989)',
 '(2006)',
 '(2005)',
 '(2015)',
 '(2018)',
 '(2014)',
 '(2017)',
 '(2014)',
 '(1999)',
 '(2015)',
 '(1998)',
 '(2021)',
 '(2013)',
 '(2003)',
 '(2016)',
 '(1982)',
 '(2012)',
 '(2018)',
 '(2014)',
 '(1971)',
 '(2012)',
 '(2012)',
 '(2016)',
 '(2016)',
 '(2013)',
 '(2000)',
 '(2019)',
 '(2017)',
 '(2012)',
 '(1975)',
 '(2007)',
 '(2004)',
 '(2015)',
 '(2004)',
 '(1995)',
 '(1960)',
 '(2011)',
 '(1992)',
 '(2005)',
 '(2019)',
 '(2015)',
 '(2015)',
 '(2010)',
 '(2015)',
 '(2008)',
 '(1964)',
 '(2000)',
 '(2003)',
 '(1999)',
 '(1992)',
 '(2019)',
 '(2013)']

In [80]:
df=pd.DataFrame({'Names':movie_names,'Ratings':movie_rating,'Year':movie_year})
df

                                            Names Ratings    Year
0                 1.      Pariyerum Perumal(2018)     8.5  (2018)
1                           2.      Nayakan(1987)     8.5  (1987)
2                          3.      Jai Bhim(2021)     8.5  (2021)
3                        4.      Anbe Sivam(2003)     8.5  (2003)
4                 5.      C/o Kancharapalem(2018)     8.5  (2018)
..                                            ...     ...     ...
95             96.      Munna Bhai M.B.B.S.(2003)     8.1  (2003)
96                       97.      Sarfarosh(1999)     8.1  (1999)
97                            98.      Roja(1992)     8.1  (1992)
98        99.      Uri: The Surgical Strike(2019)     8.1  (2019)
99                          100.      Queen(2013)     8.1  (2013)

[100 rows x 3 columns]

# question 5

In [6]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [82]:
soup =BeautifulSoup(page.content)

In [83]:
team=soup.find_all('span',class_='u-hide-phablet')
odi_team= []
for i in range(0,10):
    odi_team.append(team[i].get_text())
odi_team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [86]:
matches=soup.find_all('td',class_='table-body__cell u-center-text')
odi_matches=[]
for i in range(0,20,2):
    odi_matches.append(matches[i].get_text().split('|'))
    
odi_matches

[['32'], ['28'], ['32'], ['25'], ['27'], ['30'], ['30'], ['32'], ['17'], ['7']]

In [87]:
points=soup.find_all('td',class_='table-body__cell u-center-text')
odi_points=[]
for i in range(1,20,2):
    odi_points.append(points[i].get_text().split('|'))
odi_points

[['3,793'],
 ['3,244'],
 ['3,624'],
 ['2,459'],
 ['2,524'],
 ['2,740'],
 ['2,523'],
 ['2,657'],
 ['1,054'],
 ['336']]

In [88]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
odi_ratings=[]
for i in range(0,10):
    odi_ratings.append(rating[i].get_text())
    
odi_ratings

['119', '116', '113', '98', '93', '91', '84', '83', '62', '48']

In [89]:
df=pd.DataFrame({'ODI_teams':odi_team,'ODI_matches':odi_matches,'ODI_points':odi_points,'OdI_ratings':odi_ratings})
df

      ODI_teams ODI_matches ODI_points OdI_ratings
0   New Zealand        [32]    [3,793]         119
1       England        [28]    [3,244]         116
2     Australia        [32]    [3,624]         113
3         India        [25]    [2,459]          98
4  South Africa        [27]    [2,524]          93
5      Pakistan        [30]    [2,740]          91
6    Bangladesh        [30]    [2,523]          84
7   West Indies        [32]    [2,657]          83
8     Sri Lanka        [17]    [1,054]          62
9   Afghanistan         [7]      [336]          48

# Question 5b ODI batsman

In [34]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page

In [35]:
soup =BeautifulSoup(page.content)

In [36]:
names=soup.find_all('td', class_="table-body__cell name")
player_name=[]
for i in range(0,10):
    player_name.append(names[i].get_text().replace('\n'," "))
player_name

[' Virat Kohli ',
 ' Rohit Sharma ',
 ' Ross Taylor ',
 ' Quinton de Kock ',
 ' Aaron Finch ',
 ' Jonny Bairstow ',
 ' David Warner ',
 ' Kane Williamson ',
 ' Rassie van der Dussen ',
 ' Josh Hazlewood ']

In [41]:
team=soup.find_all('span', class_="table-body__logo-text")
team_name=[]
for i in range(0,10):
    team_name.append(team[i].get_text().replace('\n',""))
team_name

['IND', 'IND', 'NZ', 'SA', 'AUS', 'ENG', 'AUS', 'NZ', 'SA', 'AUS']

In [40]:
ranking=soup.find_all('td',class_="table-body__cell u-text-right rating")
team_ranking=[]
for i in range(0,10):
    team_ranking.append(ranking[i].get_text().replace('\n',""))
team_ranking

['836', '801', '801', '783', '779', '775', '762', '754', '750', '709']

In [45]:
import pandas as pd
df=pd.DataFrame({'player':player_name,'Team':team_name,'Rating':team_ranking})
df

                    player Team Rating
0             Virat Kohli   IND    836
1            Rohit Sharma   IND    801
2             Ross Taylor    NZ    801
3         Quinton de Kock    SA    783
4             Aaron Finch   AUS    779
5          Jonny Bairstow   ENG    775
6            David Warner   AUS    762
7         Kane Williamson    NZ    754
8   Rassie van der Dussen    SA    750
9          Josh Hazlewood   AUS    709

# Question 5c

In [46]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [47]:
soup =BeautifulSoup(page.content)

In [48]:
names=soup.find_all('td', class_="table-body__cell rankings-table__name name")
player_name=[]
for i in range(0,10):
    player_name.append(names[i].get_text().replace('\n'," "))
player_name

[' Josh Hazlewood ',
 ' Chris Woakes ',
 ' Mujeeb Ur Rahman ',
 ' Mehedi Hasan ',
 ' Matt Henry ',
 ' Jasprit Bumrah ',
 ' Mitchell Starc ',
 ' Shakib Al Hasan ',
 ' Andy McBrine ',
 ' Mustafizur Rahman ']

In [49]:
team=soup.find_all('span', class_="table-body__logo-text")
team_name=[]
for i in range(0,10):
    team_name.append(team[i].get_text().replace('\n',""))
team_name

['AUS', 'ENG', 'AFG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'IRE', 'BAN']

In [50]:
ranking=soup.find_all('td', class_="table-body__cell rating")
team_ranking=[]
for i in range(0,10):
    team_ranking.append(ranking[i].get_text().replace('\n',""))
team_ranking

['709', '700', '697', '692', '691', '689', '652', '650', '646', '640']

In [51]:
import pandas as pd
df=pd.DataFrame({'player':player_name,'Team':team_name,'Rating':team_ranking})
df

                player Team Rating
0      Josh Hazlewood   AUS    709
1        Chris Woakes   ENG    700
2    Mujeeb Ur Rahman   AFG    697
3        Mehedi Hasan   BAN    692
4          Matt Henry    NZ    691
5      Jasprit Bumrah   IND    689
6      Mitchell Starc   AUS    652
7     Shakib Al Hasan   BAN    650
8        Andy McBrine   IRE    646
9   Mustafizur Rahman   BAN    640

# Question 6

In [53]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [54]:
soup=BeautifulSoup(page.content)

In [128]:
teams=soup.find_all('span', class_="u-hide-phablet")
womens_team=[]
for i in range(0,10):
    womens_team.append(teams[i].get_text().replace('\n',""))
womens_team

['Australia',
 'South Africa',
 'England',
 'India',
 'Bangladesh',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [75]:
matches=soup.find_all('td',class_='table-body__cell u-center-text')
womens_team_matches=[]
for i in range(0,19,2):
    womens_team_matches.append(matches[i].get_text())

womens_team_matches

['19', '18', '17', '5', '19', '19', '19', '5', '5', '8']

In [79]:
points=soup.find_all('td',class_='table-body__cell u-center-text')
womens_team_points=[]
for i in range(1,20,2):
    womens_team_points.append(points[i].get_text())
    
womens_team_points

['2,307',
 '2,148',
 '1,899',
 '475',
 '1,668',
 '1,658',
 '1,304',
 '240',
 '233',
 '0']

In [80]:
rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
team_rating=[]
for i in range(0,10):
    team_rating.append(rating[i].get_text())

team_rating

['121', '119', '112', '95', '88', '87', '69', '48', '47', '0']

In [81]:
print(len(womens_team),len(womens_team_matches),len(womens_team_points),len(team_rating))

10 10 10 10

In [82]:
df=pd.DataFrame({'Team':womens_team,'Matches':womens_team_matches,'Points':womens_team_points,'Ratings':team_rating})
df

           Team Matches Points Ratings
0     Australia      19  2,307     121
1  South Africa      18  2,148     119
2       England      17  1,899     112
3         India       5    475      95
4    Bangladesh      19  1,668      88
5   New Zealand      19  1,658      87
6   West Indies      19  1,304      69
7      Pakistan       5    240      48
8       Ireland       5    233      47
9     Sri Lanka       8      0       0

# Question 6b

In [131]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [132]:
soup =BeautifulSoup(page.content)

In [133]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
womens_names=[]
for i in range(0,10):
    womens_names.append(names[i].get_text().replace("\n",""))
                       
womens_names

['Mithali Raj',
 'Lizelle Lee',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Rachael Haynes',
 'Stafanie Taylor']

In [134]:
team=soup.find_all('span',class_='table-body__logo-text')
womens_team=[]
for i in range(0,10):
    womens_team.append(team[i].get_text())

womens_team

['IND', 'SA', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'ENG', 'AUS', 'WI']

In [135]:
rating=soup.find_all('td',class_='table-body__cell rating')
womens_team_rating=[]
for i in range(0,10):
    womens_team_rating.append(rating[i].get_text())

womens_team_rating

['738', '731', '728', '717', '710', '699', '690', '674', '668', '667']

In [136]:
df=pd.DataFrame({'Names':womens_names,'Team':womens_team,'Rating':womens_team_rating})
df

               Names Team Rating
0        Mithali Raj  IND    738
1        Lizelle Lee   SA    731
2     Tammy Beaumont  ENG    728
3  Amy Satterthwaite   NZ    717
4    Smriti Mandhana  IND    710
5        Meg Lanning  AUS    699
6        Beth Mooney  AUS    690
7     Heather Knight  ENG    674
8     Rachael Haynes  AUS    668
9    Stafanie Taylor   WI    667

# Question 6c

In [137]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page

In [138]:
soup=BeautifulSoup(page.content)

In [140]:
names=soup.find_all('td',class_='table-body__cell rankings-table__name name')
women_odi_names=[]
for i in range(0,10):
    women_odi_names.append(names[i].get_text().replace("\n",""))


women_odi_names

['Ellyse Perry',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Stafanie Taylor',
 'Hayley Matthews',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Katherine Brunt',
 'Dane van Niekerk',
 'Jhulan Goswami']

In [141]:
team=soup.find_all('span',class_='table-body__logo-text')
women_odi_team=[]
for i in range(0,10):
    women_odi_team.append(team[i].get_text())
    
women_odi_team

['AUS', 'SA', 'IND', 'WI', 'WI', 'AUS', 'AUS', 'ENG', 'SA', 'IND']

In [142]:
rating=soup.find_all('td',class_='table-body__cell rating')
women_odi_rating=[]
for i in range(0,10):
    women_odi_rating.append(rating[i].get_text())
    

women_odi_rating

['365', '355', '299', '281', '280', '275', '272', '272', '253', '251']

In [143]:
df=pd.DataFrame({'Names':women_odi_names,'Team':women_odi_team,'Rating':women_odi_rating})
df

              Names Team Rating
0      Ellyse Perry  AUS    365
1    Marizanne Kapp   SA    355
2     Deepti Sharma  IND    299
3   Stafanie Taylor   WI    281
4   Hayley Matthews   WI    280
5  Ashleigh Gardner  AUS    275
6     Jess Jonassen  AUS    272
7   Katherine Brunt  ENG    272
8  Dane van Niekerk   SA    253
9    Jhulan Goswami  IND    251

# Question 7

In [156]:
page=requests.get("https://coreyms.com/")
page

In [157]:
soup=BeautifulSoup(page.content)

In [176]:
posts=[]
for i in soup.find_all('a', class_="entry-title-link" ):
    posts.append(i.text)
posts

[]

In [160]:
headers=[]
for heads in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    headers.append(heads.name+" "+heads.text.strip())
headers

['h1 CoreyMS',
 'h2 Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'h2 Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'h2 Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'h2 Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'h2 Update (2019-09-03)',
 'h2 Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'h2 Python Tutorial: Calling External Commands Using the Subprocess Module',
 'h2 Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'h2 Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'h2 Clarifying the Issues with Mutable Default Arguments',
 'h4 Main Contributor',
 'h4 Top Contributors (17)',
 'h4 Search CoreyMS.com',
 'h4 Subscribe to Future Posts',
 'h4 Recommended Books',
 'h4 Podcasts I Listen To']

In [164]:
dates=[]
for i in soup.find_all('time', class_="entry-time"):
    dates.append(i.text)
dates

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [165]:
content=[]
for i in soup.find_all('div', class_="entry-content"):
    content.append(i.text)
content

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on MacOS – https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…\nVSCode on Windows – https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…\n\n\n\n']

In [169]:
video=[]
for i in soup.find_all('div', class_="ytp-cued-thumbnail-overlay-image"):
    video.append(i.href)
video

[]

# Question 8

In [178]:
page=requests.get("https://www.nobroker.in/property/sale/bangalore/Indiranagar?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9XQ==&radius=2.0&city=bangalore&locality=Indiranagar")
page

In [179]:
soup=BeautifulSoup(page.content)

In [180]:
title=[]
for i in soup.find_all('span', class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    title.append(i.text)
title

['3 BHK Flat  For Sale  In Beverly Apartments In Hal 2nd Stage, Indiranagar',
 '3 BHK Flat  For Sale  In Hal 2nd Stage,indiranagar  ',
 '4 BHK Flat  For Sale  In Golfridge In Indira Nagar',
 '2 BHK Apartment  For Sale  In Team Heritage Apartments In Indiranagar',
 '3 BHK Flat  For Sale  In Livintique Residence In Indiranagar',
 '3 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '3 BHK Flat  For Sale  In Vaishali Residency In Indiranagar',
 '4+ BHK Flat  For Sale  In Indiranagar',
 '2 BHK Flat  For Sale  In Sai Teja Solace In Kodihalli',
 '2 BHK Apartment  For Sale  In Sai Uday Mohan Apartments In Indiranagar',
 '4+ BHK Flat  For Sale  In Indira Nagar',
 '2 BHK Flat  For Sale  In Bharath Nivas In Kodihalli',
 '1 BHK In Independent House  For Sale  In Indira Nagar',
 '2 BHK Flat  For Sale  In Maple Apartments In Indiranagar',
 '3 BHK Apartment  For Sale  In Kristal Moonstone In Indiranagar',
 '2 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '3 BHK Flat  For Sale  In Apartment In Halasuru',
 '4 BHK Flat  For Sale  In Standalone Building  In Indiranagar, ',
 '3 BHK Apartment  For Sale  In Monarch Manor In Indira Nagar',
 '3 BHK Apartment  For Sale  In Sterling Sharada Nivas Apartments In Indira Nagar',
 '2 BHK Flat  For Sale  In Swathi Apartments In Indiranagar',
 '4 BHK In Independent House  For Sale  In Indira Nagar',
 '2 BHK Flat  For Sale  In Admiralty Manor In Indiranagar',
 '4+ BHK Flat  For Sale  In Indiranagar',
 '2 BHK Flat  For Sale  In Raghava Residency, Indiranagar In Indiranagar']

In [181]:
location=[]
for i in soup.find_all('div', class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    location.append(i.text)
location

['Road next to Manyavar showroom',
 'Standalone building, 16th F main, Hal 2nd stage indrananagr blore ',
 'embassy golf link road',
 'Team Heritage Apartments\xa0 Team Heritage Apartments, 13th main,, 2nd Cross Rd, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India',
 '100 Feet Rd near Barbeque Nation',
 'Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Vaishali Residency, HAL 2nd Stage, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Standalone Building, HAL 2nd Stage near New Horizon Public School',
 'Sai Teja Solace, 16th ma, HAL 2nd Stage, Kodihalli, Bengaluru, Karnataka 560008, India',
 'Sai Uday Mohan Apartments\xa0 Sai Uday Mohan Apartments, 38, Appareddy Palya Rd, New Akash Nagar, Stage 3, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Standalone Building, CMH Rd , Near B P Bakery',
 '16th A main road, HAL 2nd stage',
 'Independent House, . to Krishna Temple, Michael Palaya, Indiranagar,near Sapna Book House',
 'Maple Apartments, Michael Palaya, 4th B Cross, 80 Feet Rd, Kalyan Nagar, H Colony, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Kristal Moonstone\xa0 Kristal Moonstone, 1st Cross Rd, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'OM Road Near Adarsha Theatre',
 ' Eshwara Layout, near Royal Enfield Service Center - Teknik Motors',
 'Monarch Manor\xa0 Monarch Manor, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Sterling Sharada Nivas Apartments\xa0 15th Cross, 6th Main Road, 2nd Phase, Indiranagar, Mahalakshmi Layout, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560038, India',
 '6th Cross Rd, Defence Colony, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Independent House, Binnamangala,  near to Chaithanya Express',
 'Admiralty Manor, 6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Standalone Building, 2nd stage  near Sree cauvery school',
 '1st main raod,Near Swamy Vivekananda Metro Station, Old Madras Road, Bangalore, Karnataka, INDIA. ']

In [184]:
EMI=[]
for i in soup.find_all('div', class_="text-14"):
    EMI.append(i.text)
EMI

['Sign up', 'Log in']

In [187]:
price=[]
for i in soup.find_all('div', class_="flex flex-col w-33pe items-center tp:w-half po:w-full"):
    price.append(i.text)
price

[]

# Question 9

In [199]:
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [200]:
soup=BeautifulSoup(page.content)

In [205]:
restraunt_name=[]
for i in soup.find_all('div', class_="restnt-info cursor"):
    restraunt_name.append(i.text)
restraunt_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'World CafeVibe by The Lalit Traveller,Sector 35, Faridabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon',
 'Mad 4 Bar B QueSector 29, Faridabad',
 'Barbeque 29NIT, Faridabad',
 'GlasshouseDoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [208]:
cusine=[]
for i in soup.find_all('span',class_='double-line-ellipsis'):
    cusine.append(i.text)
cusine

['₹ 2,000 for 2 (approx) | North Indian, Chinese',
 '₹ 1,400 for 2 (approx) | Barbecue, North Indian, Asian, Italian',
 '₹ 2,000 for 2 (approx) | Chinese, North Indian, Mughlai',
 '₹ 3,000 for 2 (approx) | Multi-Cuisine, North Indian, Italian, Continental, Mediterranean',
 '₹ 1,700 for 2 (approx) | North Indian, Barbecue, Chinese, Mughlai',
 '₹ 2,400 for 2 (approx) | North Indian, Italian, Oriental ',
 '₹ 1,800 for 2 (approx) | Barbecue, North Indian',
 '₹ 1,600 for 2 (approx) | North Indian, Chinese, Fast Food',
 '₹ 900 for 2 (approx) | North Indian, Chinese, Continental',
 '₹ 2,200 for 2 (approx) | North Indian, Barbecue, Mughlai',
 '₹ 800 for 2 (approx) | North Indian, Mughlai',
 '₹ 1,500 for 2 (approx) | North Indian, Chinese, Barbecue',
 '₹ 3,400 for 2 (approx) | European, Indian Cuisine, Italian, Asian, Continental']

In [209]:
location=[]
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [210]:
ratings=[]
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    ratings.append(i.text)
ratings

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.8',
 '4.3',
 '4.1']

In [211]:
images=[]
for i in soup.find_all('img',class_='no-img'):
    images.append(i['data-src'])
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/a/k/p59633-16046474755fa4fa33c0e92.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/v/p406-163401663361651d79326d0.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/y/p549-15143767525a438e30b3e19.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/f/p9875-16057921085fb6716cc44f8.jpg?tr=tr:n-medium']

# Question 10

In [218]:
page =requests.get("https://www.bewakoof.com/women-tshirts?ga_q=tshirts")
page

In [219]:
soup=BeautifulSoup(page.content)

In [228]:
names=[]
for i in soup.find_all('div', class_="productCardDetail",limit=10):
    names.append(i.text)
names

['Mickey Pop Block Half Sleeve Printed T-Shirt (DL) Navy Blue₹ 249799FEW LEFT₹229For TriBe Members ',
 'Climbing pocket panda Half Sleeve T-Shirt₹ 299999₹279For TriBe Members ',
 'Diagonal Friends Half Sleeves T-Shirt (FRL)₹ 299599FEW LEFT₹279For TriBe Members ',
 'Chilli Pepper Rib Half Sleeves T-Shirt₹ 249699FEW LEFT₹229For TriBe Members ',
 'Bunny Rabbit Pocket Half Sleeve T-Shirt₹ 299599FEW LEFT₹279For TriBe Members ',
 'Life Is Good Half Sleeve T-Shirt₹ 299699FEW LEFT₹279For TriBe Members ',
 'Flower Kind Half Sleeve T-Shirt₹ 299699FEW LEFT₹279For TriBe Members ',
 'Life Is Good Half Sleeve T-Shirt₹ 299699FEW LEFT₹279For TriBe Members ',
 "Women's Indigo Printed White T-Shirt₹ 299799FEW LEFT₹279For TriBe Members ",
 'Smile 2.0 Half Sleeves T-Shirt₹ 299599FEW LEFT₹279For TriBe Members ']

In [229]:
prices=[]
for i in soup.find_all('div', class_="productPriceBox clearfix",limit=10):
    prices.append(i.text)
prices

['₹ 249799FEW LEFT₹229For TriBe Members ',
 '₹ 299999₹279For TriBe Members ',
 '₹ 299599FEW LEFT₹279For TriBe Members ',
 '₹ 249699FEW LEFT₹229For TriBe Members ',
 '₹ 299599FEW LEFT₹279For TriBe Members ',
 '₹ 299699FEW LEFT₹279For TriBe Members ',
 '₹ 299699FEW LEFT₹279For TriBe Members ',
 '₹ 299699FEW LEFT₹279For TriBe Members ',
 '₹ 299799FEW LEFT₹279For TriBe Members ',
 '₹ 299599FEW LEFT₹279For TriBe Members ']

In [231]:
images=[]
for i in soup.find_all('img',limit=10):
   print(i['src'])
images

https://images.bewakoof.com/web/bewakoof-primary-logo-white-bg-2x-1635745564.png
https://images.bewakoof.com/web/search-3x-1635763109.png
https://images.bewakoof.com/web/bag-filled-1635763396.png
https://images.bewakoof.com/t320/mickey-pop-block-half-sleeve-printed-t-shirt-dl-navy-blue-women-s-half-sleeve-printed-t-shirt-300345-1617704223.jpg
https://images.bewakoof.com/t320/climbing-pocket-panda-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-305395-1607918545.jpg
https://images.bewakoof.com/t320/diagonal-friends-half-sleeves-t-shirt-frl-women-s-half-sleeve-printed-t-shirt-310681-1609214624.jpg
https://images.bewakoof.com/t320/chilli-pepper-rib-half-sleeves-t-shirt-women-plain-rib-half-sleeve-t-shirt-316513-1623215551.jpg
https://images.bewakoof.com/t320/bunny-rabbit-pocket-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-305405-1608114529.jpg
https://images.bewakoof.com/t320/life-is-good-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-313953-1610098757.jpg
https://images.bewakoof.com/t320/flower-kind-half-sleeve-t-shirts-women-s-half-sleeve-printed-t-shirt-313960-1610019394.jpg

[]

# Question 4

In [232]:
page =requests.get("https://meesho.com/bags-ladies/pl/p7vbp")
page

In [236]:
names=[]
for i in soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS" ,limit=10):
    names.append(names[i].get_text())
names

[]

In [240]:
price= soup.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy" ,limit=10)
    
price

[]

In [241]:
discounts=[]
for i in soup.find_all('span',class_="Text__StyledText-sc-oo0kvp-0 lnonyH",limit=10):
    discounts.append(names[i].get_text())
discounts

[]